body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0 0 15px 0;
    background-image: url(https://c4.wallpaperflare.com/wallpaper/216/182/475/sexy-anime-girl-1366-768-4349-1366x768-hd-just-got-1366x768-anime-hot-anime-hd-art-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-size: 100% 625px;
    background-attachment: fixed;
}
.titulo
{
    background-image: url(https://www.gameprotv.com/archivos/201805/cartel-megadimension-neptunia-viir.jpg);
    width: 97%;
    height: 33vh;
    margin: 0;
    padding: 0 0 15px 0;
    background-repeat: no-repeat;
    background-size: 100% 222px;
    position: relative;
    top: 0;
    right: 0;
    left: 20px;
}
.titulo2
{
    width: 500px;
    height: 37px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 185px;
}
.cuerpo
{
    width: 1303px;
    height: 900px;
    position: relative;
    top: 180px;
}
.titulo3
{
    background-color: rgba(33, 18, 240, 0.342);
    width: 1303px;
    height: 100px;
}
.a1
{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a2
{
    width: 1200px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 6px;
}
.epson
{
    background-color: rgba(33, 18, 240, 0.342);
    width: 694px;
    height: 1605px;
    position: relative;
    right: 0;
    left: 305px;
}
.imagen1
{
    background-image: url(imagenes/1.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 1194px;
    right: 0;
    left: 5px;
}
.imagen2
{
    width: 300px;
    height: 500px;
    background-image: url(imagenes/2.png);
    background-repeat: no-repeat;
    background-size: 100% 500px;
    position: absolute;
    top: 637px;
    right: 0;
    left: 999px;
}
.imagen3
{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTa19hv1EnuMqG2Zpmv97OV4alDTyocQWrkDA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100% 300px;
    width: 694px;
    height: 300px;
}
.a3
{
    background-color: turquoise;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.descarga
{
    color: white;
    text-align: justify;
}
.descarga2
{
    background-color: rgba(203, 18, 240, 0.342);
    font-size: 22px;
    color: rgb(214, 214, 218);
}
.final
{
    width: 694px;
    height: 45px;
    background-color: rgba(5, 5, 5, 0.342);
    position: absolute;
    top: 1965px;
    right: 0;
    left: 305px;
}
.final2
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: white;
}
a
{
    color: red;
}
@media screen and (max-width: 1024px)
{
body 
{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0 0 15px 0;
    background-size: 100% 608px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.cuerpo
{
    width: 100%;
    height: 1919px;
    position: relative;
    top: 180px;
}
.titulo3
{
    width: 100%;
    height: 100px;
}
.imagen1
{
    background-size: 100% 300px;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 1194px;
    right: 0;
    left: 5px;
}
.epson
{
    width: 570px;
    height: 1705px;
    position: relative;
    top: 24px;
    right: 0;
    left: 205px;
}
.imagen3
{
    background-repeat: no-repeat;
    background-size: 100% 300px;
    width: 570px;
    height: 300px;
}
.imagen2
{
    width:  200px;
    height: 300px;
    background-size: 100% 300px;
    position: absolute;
    top: 737px;
    right: 0;
    left: 777px;
}
.final
{
    width: 570px;
    height: 45px;
    background-color: rgba(5, 5, 5, 0.342);
    position: absolute;
    top: 2080px;
    right: 0;
    left: 205px;
}
.a2
{
    width: 100%;
    font-size: 14px;
}
}
@media screen and (max-width: 540px)
{
body 
{
    width: 100%;
    height: 100vh;
    background-size: 100% 960px;
    margin: 0;
    padding: 0 0 15px 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.titulo
{
    width: 97%;
    height: 33vh;
    margin: 0;
    padding: 0 0 15px 0;
    background-repeat: no-repeat;
    background-size: 100% 222px;
    position: relative;
    top: 0;
    right: 0;
    left: 8px;
}
.titulo2
{
    width: 65%;
    height: 22px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    position: relative;
    top: 195px;
}
.cuerpo
{
    width: 100%;
    height: 1110px;
    position: relative;
    top: 210px;
}
.titulo3
{
    background-color: rgba(33, 18, 240, 0.342);
    width: 100%;
    height: 65px;
}
.imagen1
{
    background-size: 100% 155px;
    width: 75px;
    height: 155px;
    position: absolute;
    top: 1127px;
    right: 0;
    left: 0px;
}
.epson
{
    width: 71%;
    height: 950px;
    position: relative;
    top: 24px;
    right: 0;
    left: 76px;
}
.imagen3
{
    background-repeat: no-repeat;
    background-size: 100% 200px;
    width: 100%;
    height: 200px;
}
.imagen2
{
    width:  75px;
    height: 155px;
    background-size: 100% 155px;
    position: absolute;
    top: 713px;
    right: 0;
    left: 449px;
}
.final
{
    width: 71%;
    height: 40px;
    background-color: rgba(5, 5, 5, 0.342);
    position: absolute;
    top: 1295px;
    right: 0;
    left: 75px;
}
.final2
{
    font-size: 13px;
}
.descarga2
{
    font-size: 10px;
}
.a1
{
    font-size: 13px;
}
.a2
{
    font-size: 9px;
    width: 100%;
    position: relative;
    top: 10px;
}
.a3
{
    font-size: 15px;
}
.descarga
{
    font-size: 8px;
}
}